.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 2rem 0;
  .wrapper__context{
    border: 1px solid red;
    border-radius: 6px;
    background-color: rgb(240, 78, 78);;
    color: white;
    width: 30%;
    .wrapper__context_title {
      padding: 1rem 4rem 0.5rem 4rem;
      text-align: center;
    }
  }
}
